name: Continuous Integration

on:
  push: ~
  pull_request: ~
  schedule:
    - cron: '0 0 1 * *'

jobs:
  test-all:
    runs-on: ubuntu-latest
    steps:
    - uses: earthly/actions-setup@v1
      with:
        version: "^0.8"
    - uses: actions/checkout@v6
    - name: Test all supported versions
      run: earthly --ci +test

  test-latest:
    runs-on: ubuntu-latest
    steps:
    - uses: earthly/actions-setup@v1
      with:
        version: "^0.8"
    - uses: actions/checkout@v6
    - name: Test latest releases
      run: earthly --ci +test-latest
